In [1]:
import os
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext

In [2]:
from pyspark.sql.functions import to_json

In [3]:
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.mongodb.spark:mongo-spark-connector_2.11:2.2.0 pyspark-shell'

In [4]:
conf = SparkConf()\
    .setAppName("pyspark mongo")\
    .setMaster("local[*]")\
    .set("spark.mongodb.input.uri", "mongodb://accretioadmin:adminaccretio&2017@localhost:27017")\
    .set("spark.mongodb.input.database", "connectTimeline")\
    .set("spark.mongodb.input.collection", "post")

In [5]:
if 'sc' in locals():
    sc.stop()
sc = SparkContext(conf=conf)
sql_context = SQLContext(sc)
df = sql_context\
    .read\
    .format("com.mongodb.spark.sql.DefaultSource")\
    .load()

In [6]:
df.show(1)

+--------------------+--------------------+--------------------+----+--------+-------------+------+-----+----+--------+--------------------+------------------+---------------+---------+-----+-------------+
|              _class|                 _id|       attached_file|body|comments|document_name|idNews|likes|link|pictures|        publish_date|registrationNumber|taggedEmployees|timelines|title|         type|
+--------------------+--------------------+--------------------+----+--------+-------------+------+-----+----+--------+--------------------+------------------+---------------+---------+-----+-------------+
|com.advyteam.sirh...|[5e18812f1ce9b400...|01d19922-1f74-4e8...|null|      []|         null|  null| null|null|    null|2020-01-10 14:50:...|              9999|           null|     null| null|ALBUM_PICTURE|
+--------------------+--------------------+--------------------+----+--------+-------------+------+-----+----+--------+--------------------+------------------+---------------+---------+-----+-------------+
only showing top 1 row

In [7]:
df.select("likes").take(2)

[Row(likes=None),
 Row(likes=[Row(_id=u'937c56fd-e633-4c08-93df-d89fbfe8d8a5', date=datetime.datetime(2020, 1, 10, 15, 10, 8, 619000), likeedObjectId=None, registrationNumber=u'DFG00031')])]

In [8]:
df = df.filter(df.likes. isNotNull())

In [9]:
df.select("likes").take(2)

[Row(likes=[Row(_id=u'937c56fd-e633-4c08-93df-d89fbfe8d8a5', date=datetime.datetime(2020, 1, 10, 15, 10, 8, 619000), likeedObjectId=None, registrationNumber=u'DFG00031')]),
 Row(likes=[Row(_id=u'2e6ff5c3-6185-4c67-b5f8-e45d2353b6b1', date=datetime.datetime(2020, 1, 10, 15, 10, 6, 661000), likeedObjectId=None, registrationNumber=u'DFG00031')])]

In [10]:
df_likes = df.select("likes").collect()

In [11]:
df_likes[0].likes

[Row(_id=u'937c56fd-e633-4c08-93df-d89fbfe8d8a5', date=datetime.datetime(2020, 1, 10, 15, 10, 8, 619000), likeedObjectId=None, registrationNumber=u'DFG00031')]

In [12]:
df_likes[0].likes[0].asDict()

{'_id': u'937c56fd-e633-4c08-93df-d89fbfe8d8a5',
 'date': datetime.datetime(2020, 1, 10, 15, 10, 8, 619000),
 'likeedObjectId': None,
 'registrationNumber': u'DFG00031'}

In [13]:
likes=list()
for i in df_likes:
    d = i.likes[0]
    likes.append(d)

In [14]:
likes[0].likeedObjectId

In [15]:
likes[1].likeedObjectId

In [16]:
import pandas as pd

In [17]:
row_d = likes[0].asDict()
pd_df = pd.DataFrame(row_d, index=[0])

In [18]:
pd_df

,_id,date,likeedObjectId,registrationNumber
0,937c56fd-e633-4c08-93df-d89fbfe8d8a5,2020-01-10 15:10:08.619,None,DFG00031

In [19]:
df_likes_pd = pd.DataFrame(likes, columns=["_id","date","toDelete","registrationNumber"])

In [20]:
df_likes_pd = df_likes_pd.drop(['toDelete', 'registrationNumber'], axis = 1)

In [21]:
df_likes_pd.head(2)

                                    _id                    date
0  937c56fd-e633-4c08-93df-d89fbfe8d8a5 2020-01-10 15:10:08.619
1  2e6ff5c3-6185-4c67-b5f8-e45d2353b6b1 2020-01-10 15:10:06.661

In [22]:
from pyspark.sql.types import *

In [23]:
schema = StructType([
  StructField('_id', StringType(), True),
  StructField('date', TimestampType(), True),
  #StructField('registrationNumber', StringType(), True), 
])

In [24]:
df = sql_context.createDataFrame(df_likes_pd,schema=schema)

In [25]:
df.show(2)

+--------------------+--------------------+
|                 _id|                date|
+--------------------+--------------------+
|937c56fd-e633-4c0...|2020-01-10 15:10:...|
|2e6ff5c3-6185-4c6...|2020-01-10 15:10:...|
+--------------------+--------------------+
only showing top 2 rows

# Load to SQL

In [26]:
from sqlalchemy import create_engine

In [27]:
#engine = create_engine('postgresql://scott:tiger@localhost:5432/mydatabase')

In [28]:
import psycopg2

In [29]:
conn = psycopg2.connect(
        host = "localhost",
        port = "5432",
        database = "AccretioDW",
        user = "postgres",
        password = "123456789")

In [30]:
# cursor
cur = conn.cursor()

In [31]:
def create_table(cursor):
    cursor.execute("CREATE TABLE IF NOT EXISTS likes \
    (   id VARCHAR(255) NOT NULL, \
        date DATE NOT NULL);")

In [32]:
create_table(cur)

In [33]:
conn.commit()

In [50]:
def write_postgresql(df):

    likes_seq = [tuple(x) for x in df.collect()]

    records_list_template = ','.join(['%s'] * len(likes_seq))
    print(likes_seq)
    insert_query = "INSERT INTO likes (id, date) VALUES {}".format(records_list_template)

    return insert_query, likes_seq

NameError: name 'to_timestamp' is not defined

In [48]:
insert_query, likes_seq= write_postgresql(df)

[(u'937c56fd-e633-4c08-93df-d89fbfe8d8a5', datetime.datetime(2020, 1, 10, 15, 10, 8, 619000)), (u'2e6ff5c3-6185-4c67-b5f8-e45d2353b6b1', datetime.datetime(2020, 1, 10, 15, 10, 6, 661000)), (u'faf79400-1615-4b26-afad-87cce4b9c2a1', datetime.datetime(2020, 1, 10, 15, 18, 11, 756000)), (u'0a4c5106-ab7b-41eb-b2b9-1c10de4ce3d9', datetime.datetime(2020, 1, 10, 15, 18, 9, 743000)), (u'd264ff7c-b54a-4892-96d3-9f5080300444', datetime.datetime(2020, 1, 13, 9, 33, 9, 10000)), (u'989ff698-d462-43a4-af30-82e1c7254a17', datetime.datetime(2020, 2, 10, 11, 53, 0, 691000)), (u'980d0c33-0e90-458b-ba2a-527fcae3807b', datetime.datetime(2020, 2, 11, 15, 0, 22, 542000)), (u'fcc08b04-e131-4085-95cb-88c07b2bdc1e', datetime.datetime(2020, 2, 11, 12, 37, 3, 791000)), (u'415e4183-fa16-4499-b523-1ab9ca536b88', datetime.datetime(2020, 2, 11, 12, 36, 59, 614000)), (u'b933ed14-2471-4fa3-8bbd-7343659ef641', datetime.datetime(2020, 2, 11, 11, 44, 47, 414000)), (u'163d867b-68ef-4aa4-abce-4300585eff21', datetime.datetime(2020, 2, 18, 8, 29, 29, 169000))]

In [49]:
cur.execute(insert_query, likes_seq)

SyntaxError: ERREUR:  erreur de syntaxe sur ou près de « date »
LINE 1: INSERT INTO likes (id, TIMESTAMP date) VALUES ('937c56fd-e63...
                                         ^

In [37]:
conn.commit()

# to_sql

In [38]:
# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("postgresql://postgres:123456789@localhost:5432/AccretioDW")

In [45]:
df_likes_pd.rename(columns = {'_id':'id'}, inplace = True)

In [46]:
#df_likes_pd.to_sql('likes', con = engine, if_exists = 'append', chunksize = 1000,index=False)